.wiggle-text-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 600;
    user-select: none;

    .wiggle-text-char {
        white-space: pre;
        display: inline-block;
    }
}